<template>
  <div>
    <div>
      {{ message }}
    </div>
    <form v-on:submit.prevent="save">
      <p>Title: <input type="text" name="title" v-model="title" required></p>
      <p>Year: <input type="text" name="year" v-model="year"></p>
      <p>Genre: <input type="text" name="genre" v-model="genre"></p>
      <p><input type="submit" value="Create"></p>
    </form>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    name: 'MoviesCreate',

    data () {
      return {
        message: '',
        title: '',
        year: '',
        genre: ''
      }
    },

    methods: {
      save () {
        axios.post('http://localhost:8000/api/movies', {
          title: this.title,
          year: this.year,
          genre: this.genre
        })
        .then(response => {
          this.message = response.data
          this.title = ''
          this.year = ''
          this.genre = ''
          this.$router.push('/movies/index')
        })
        .catch(error => {
          this.message = error.data
        })
      }
    }
  }
</script>
